@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.6em;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-family: "Meiryo", "メイリオ", "Noto Sans", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "游ゴシック Medium", "Yu Gothic Medium", "YuGothic", "游ゴシック体", "verdana", sans-serif;
  color: #3C3533;
}

@media screen and (max-width: 767px) {
  body {
    overflow-X: hidden;
  }
}

body.js-noscroll {
  overflow: hidden;
}

ul, li, ol {
  list-style-type: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

path {
  -webkit-transition: .3s;
  transition: .3s;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
}

/*--------------------------*/
/** メインビジュアル **/
/*--------------------------*/
.mv {
  min-height: 550px;
  background: url(../img/fv.jpg) no-repeat center/cover;
  position: relative;
}

.mv-copy {
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-style: normal;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mv-copy img {
  display: block;
  margin: 20px auto 0;
  width: 50px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .mv-copy img {
    width: 48px;
    height: 22px;
  }
}

.mv-copy_main {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 767px) {
  .mv-copy_main {
    font-size: 32px;
    font-size: 3.2rem;
  }
}

.mv-copy_main ._top {
  color: #fff;
}

.mv-copy_main ._mid {
  color: #B8945A;
}

.mv-copy_sub {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: -20px;
}

@media screen and (max-width: 767px) {
  .mv-copy_sub {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

/*--------------------------*/
/** header **/
/*--------------------------*/
.header {
  width: 100%;
  background-color: #FAF7F0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  max-width: 1130px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header-inner {
    display: none;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FAF7F0;
    opacity: .9;
  }
}

.header-logo {
  width: 145px;
  height: auto;
  margin-right: 40px;
}

.header-logo a:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 70px 0;
  }
}

.nav-item {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0;
  padding-right: 2vw;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 35px 0;
  color: #3C3533;
}

.nav-item a:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-item._contact, .nav-item._cart {
  padding-right: 0;
}

@media screen and (max-width: 1024px) {
  .nav-item._contact, .nav-item._cart {
    display: none;
  }
}

.nav-item._contact a, .nav-item._cart a {
  width: 130px;
  height: 100px;
  font-size: 1.6rem;
  color: #fff;
  padding: 20px 0;
}

.nav-item._contact a:hover, .nav-item._cart a:hover {
  opacity: 1;
}

.nav-item._contact img, .nav-item._cart img {
  margin: 0 auto 3px;
  display: block;
}

.nav-item._contact {
  background-color: #B8945A;
}

.nav-item._contact img {
  width: 27px;
  height: 27px;
}

.nav-item._contact:hover a {
  background-color: #c7ab7e;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-item._cart {
  background-color: #F95E3A;
}

.nav-item._cart img {
  width: 30px;
  height: 30px;
}

.nav-item._cart:hover a {
  background-color: #fb866b;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

/*--------------------------*/
/** footer **/
/*--------------------------*/
.footer {
  width: 100%;
  background-color: #FAF7F0;
  position: absolute;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: 30px 0 50px 4vw;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    margin: 20px 4vw 40px;
  }
}

.footer-logo {
  max-width: 155px;
  margin-right: 55px;
}

.footer-logo:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    margin-right: 30px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-item {
  margin-right: 30px;
  color: #3C3533;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .footer-item {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.footer-item:last-of-type {
  margin-right: 0;
}

.footer-item a {
  color: #3C3533;
}

.footer-item a:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media screen and (max-width: 1024px) {
  .footer-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .footer-item:nth-last-of-type(5) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-item {
    margin: 0 0 15px;
  }
}

.footer-copy {
  display: block;
  width: 100%;
  background-color: #3C3533;
  color: #fff;
  text-align: center;
}

/*--------------------------*/
/** SP-header **/
/*--------------------------*/
.sp-header {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
  }
}

.sp-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.sp-header-logo {
  width: 135px;
  height: auto;
}

.sp-header-logo:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sp-header-logo.js-hide {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.sp-nav-item {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  width: 70px;
}

.sp-nav-item a {
  display: block;
  text-align: center;
  padding: 12px 0;
  color: #fff;
}

.sp-nav-item a:hover {
  opacity: 1;
}

.sp-nav-item img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}

.sp-nav-item._contact {
  background-color: #B8945A;
}

.sp-nav-item._contact:hover a {
  background-color: #c7ab7e;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sp-nav-item._cart {
  background-color: #F95E3A;
}

.sp-nav-item._cart:hover a {
  background-color: #fb866b;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sp-nav-item._menu {
  background-color: #FAF7F0;
}

.sp-btn {
  display: block;
  padding: 13.5px 0;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-btn:hover {
  background-color: white;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sp-btn-bar {
  display: block;
  background-color: #3C3533;
  width: 25px;
  height: 3px;
  margin: 0 auto 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-btn-bar:last-of-type {
  margin-bottom: 6px;
}

.sp-btn.js-cross ._top {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-btn.js-cross ._mid {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-btn.js-cross ._btm {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: .3s;
  transition: .3s;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding: 0 4vw;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section-container._full {
    padding: 0;
    width: 100%;
  }
}

.section-wrapper {
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  .section-wrapper {
    padding: 60px 0 80px;
  }
}

.section-title {
  text-align: center;
}

.section-title._ja {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .section-title._ja {
    font-size: 29px;
    font-size: 2.9rem;
  }
}

.section-title._en {
  display: block;
  line-height: 3;
  margin-bottom: 50px;
}

.section-title._en::after {
  content: "";
  display: block;
  width: 60px;
  height: 6px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: #B8945A;
}

.section-br._sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .section-br._sp {
    display: block;
  }
}

.section-br._tab {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section-br._tab {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .section-br._pc {
    display: none;
  }
}

/*--------------------------*/
/** About **/
/*--------------------------*/
.about-lead {
  font-size: clamp(2rem, 5.3vw, 3.2rem);
  /*clamp([最小値], [推奨値], [最大値])*/
  font-weight: bold;
}

.about-lead span {
  color: #B8945A;
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 35px 100px 0 0;
}

.about-text p {
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .about-text {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about-text {
    margin-right: 0;
  }
}

.about-img {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.about-img_top {
  margin-bottom: 40px;
  text-align: left;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .about-img_top {
    margin: 40px 0 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .about-img_top {
    margin: 20px 0 20px 0;
  }
}

.about-img_btm {
  margin-left: auto;
  text-align: right;
}

.about-img img {
  max-width: 430px;
  max-height: 230px;
}

@media screen and (max-width: 1024px) {
  .about-img img {
    max-width: 80%;
  }
}

.about-btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #3C3533;
  width: 250px;
  border-radius: 5px;
  padding: 13px 0;
}

.about-btn span {
  position: relative;
  padding: 0 45px;
}

.about-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

.about-btn:hover {
  background-color: #736662;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .about-btn {
    margin: 0 auto;
  }
}

/*--------------------------*/
/** Line Up **/
/*--------------------------*/
.lineup {
  background: url(../img/lineup-bg.jpg) no-repeat center/cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lineup-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .lineup-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.lineup-item {
  margin: 0 auto;
  width: 365px;
}

.lineup-img {
  max-width: 222px;
  margin: 0 auto;
}

.lineup-img img {
  text-align: center;
  margin-bottom: 20px;
}

.lineup-text {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 90%;
}

@media screen and (max-width: 767px) {
  .lineup-text {
    max-width: 100%;
  }
}

.lineup-btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #3C3533;
  width: 250px;
  border-radius: 5px;
  padding: 13px 0;
  margin: 0 auto;
}

.lineup-btn span {
  position: relative;
  padding: 0 45px;
}

.lineup-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

.lineup-btn:hover {
  background-color: #736662;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .lineup-btn {
    margin: 0 auto;
  }
}

/*--------------------------*/
/** Method**/
/*--------------------------*/
.method-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto 55px;
}

.method-group:last-of-type {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .method-group:last-of-type {
    margin-bottom: 50px;
  }
}

.method-group._reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .method-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.method-text {
  height: 100%;
  width: 58%;
  max-width: 700px;
  padding: 45px 0 0 40px;
  background-color: #FAF7F0;
}

@media screen and (max-width: 767px) {
  .method-text {
    width: 90%;
    padding: 45px 0 100px;
  }
}

.method-text._reverse {
  padding: 45px 5.2vw 0 0;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .method-text._reverse {
    padding: 45px 0 100px;
  }
}

.method-text._stack {
  margin-right: -100px;
}

.method-lead {
  font-size: clamp(2rem, 2.6vw, 3.2rem);
  /*clamp([最小値], [推奨値], [最大値])*/
  font-weight: bold;
  color: #B8945A;
  line-height: 1.3;
  border-bottom: 1px solid rgba(60, 53, 51, 0.5);
  padding-bottom: 15px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .method-lead {
    padding-left: 9.3vw;
    /*375px時=35px*/
    width: 87%;
  }
}

.method-lead._reverse {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .method-lead._reverse {
    margin-right: 0;
    margin-left: auto;
    padding-right: 9.3vw;
    /*375px時=35px*/
    padding-left: 0;
  }
}

.method-lead span {
  font-size: clamp(3rem, 4vw, 4.8rem);
  color: #3C3533;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .method-lead span {
    margin-right: 0;
  }
}

.method-about {
  width: calc(100% - 20%);
  /*[右余白]135px/700px(100%幅)=20%*/
  padding: 30px 0 50px 85px;
}

@media screen and (max-width: 1024px) {
  .method-about {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .method-about {
    padding: 20px 0 0 9.3vw;
    width: 87%;
  }
}

.method-about._reverse {
  width: calc(100% - 23%);
  /*[左余白]160px/700px(100%幅)=23%*/
  padding: 30px 0 50px 0;
  margin-left: auto;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .method-about._reverse {
    padding: 20px 9.3vw 0 0;
    width: 87%;
  }
}

.method-img {
  margin-top: 70px;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .method-img {
    margin-top: -70px;
    width: 90%;
    text-align: right;
    margin-left: auto;
  }
}

.method-img img {
  max-width: 600px;
}

.method-img._reverse {
  margin-right: -100px;
}

@media screen and (max-width: 767px) {
  .method-img._reverse {
    text-align: left;
    margin-right: auto;
    margin-left: 0;
  }
}

.method-btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #3C3533;
  width: 250px;
  border-radius: 5px;
  padding: 13px 0;
  margin: 0 auto;
}

.method-btn span {
  position: relative;
  padding: 0 45px;
}

.method-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

.method-btn:hover {
  background-color: #736662;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .method-btn {
    margin: 0 auto;
  }
}

/*--------------------------*/
/**  Shopping **/
/*--------------------------*/
.shopping {
  background-color: #FAF7F0;
}

.shopping-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4vw;
}

@media screen and (max-width: 767px) {
  .shopping-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shopping-item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
  margin-right: 20px;
}

.shopping-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .shopping-item {
    margin: 0 0 50px;
  }
  .shopping-item:last-of-type {
    margin-bottom: 0;
  }
}

.shopping-icon {
  text-align: center;
  margin-bottom: 20px;
}

.shopping-icon img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.shopping-text {
  max-width: 250px;
  margin: 0 auto;
}

.shopping-text_title {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.shopping-text_about {
  min-height: 112px;
  text-align: left;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .shopping-text_about {
    margin-bottom: 20px;
  }
}

.shopping-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #3C3533;
  font-weight: bold;
}

.shopping-btn span {
  display: block;
  border-radius: 50%;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #3C3533;
  margin-left: 6px;
}

.shopping-btn span::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 40%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shopping-btn:hover {
  color: #B8945A;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.shopping-btn:hover span {
  background-color: #B8945A;
}

/*--------------------------*/
/**  News **/
/*--------------------------*/
.news-inner {
  max-width: 830px;
  margin: 0 auto;
}

.news-list {
  margin-bottom: 30px;
}

.news-list a {
  color: #3C3533;
}

.news-list a:hover {
  color: #B8945A;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.news-date {
  float: left;
  margin: 0 100px 10px 0;
}

.news-date._last {
  margin-bottom: 0;
}

.news-title {
  margin-bottom: 10px;
}

.news-title._last {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .news-title {
    clear: left;
    margin: 0 0 40px 15px;
  }
}

.news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #3C3533;
  font-weight: bold;
}

.news-btn span {
  display: block;
  border-radius: 50%;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #3C3533;
  margin-left: 6px;
}

.news-btn span::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 40%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.news-btn:hover {
  color: #B8945A;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.news-btn:hover span {
  background-color: #B8945A;
}

/*--------------------------*/
/**  Contact **/
/*--------------------------*/
.contact {
  background-image: url(../img/contact-bg.jpg) no-repeat center/cover;
}

.contact-message {
  text-align: center;
  margin-bottom: 30px;
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .contact-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-btn {
  display: block;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.contact-btn._tel {
  background-color: #fff;
  color: #3C3533;
  margin-right: 50px;
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .contact-btn._tel {
    margin: 0 0 10px;
  }
}

.contact-btn._tel svg {
  width: 30px;
  height: 27px;
  vertical-align: baseline;
}

.contact-btn._tel ._top {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .contact-btn._tel ._top {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

.contact-btn._tel ._btm {
  font-size: 1.4rem;
  font-weight: normal;
}

.contact-btn._tel:hover,
.contact-btn._tel:hover path {
  color: #fff;
  background-color: #3C3533;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  opacity: .9;
  fill: #fff !important;
}

.contact-btn._mail {
  background-color: #F95E3A;
  color: #fff;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 3.75;
}

@media screen and (max-width: 767px) {
  .contact-btn._mail {
    font-size: 20px;
    font-size: 2rem;
  }
}

.contact-btn._mail img {
  width: 27px;
  height: 27px;
  vertical-align: middle;
  margin-right: 7px;
}

.contact-btn._mail:hover {
  background-color: #fb866b;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

/*--------------------------*/
/**  Access **/
/*--------------------------*/
.access-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .access-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.access-img {
  margin-right: 4.16vw;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 600px;
}

@media screen and (max-width: 767px) {
  .access-img {
    max-width: 100%;
    margin: 0 0 20px;
  }
}

.access-img_top {
  margin-bottom: 15px;
}

.access-img_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.access-img_btm ._left {
  -ms-flex-preferred-size: 69%;
      flex-basis: 69%;
  margin-right: 15px;
}

.access-img_btm ._right {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.access-about {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 1024px) {
  .access-about {
    font-size: 90%;
  }
}

@media screen and (max-width: 767px) {
  .access-about {
    font-size: 100%;
  }
}

.access-title {
  font-size: clamp(2rem, 3.65vw, 2.8rem);
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

@media screen and (max-width: 1024px) {
  .access-title {
    margin-bottom: 15px;
  }
}

.access-list {
  margin-bottom: 20px;
}

.access-list dt {
  float: left;
  width: 20%;
  margin: 0 10px 10px 0;
}

.access-list dt:last-of-type {
  margin-bottom: 0;
}

.access-list dd {
  margin-bottom: 10px;
}

.access-list dd:last-of-type {
  margin-bottom: 0;
}

.access-map {
  display: block;
  width: 200px;
  margin-bottom: 20px;
  color: #3C3533;
}

@media screen and (max-width: 767px) {
  .access-map {
    margin-bottom: 40px;
  }
}

.access-map img {
  width: 20px;
  height: 25px;
  margin-right: 5px;
}

.access-map:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.access-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .access-sns {
    margin: 0 auto;
  }
}

.access-sns a {
  display: block;
}

.access-sns a:hover {
  opacity: .5;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.access-sns ._insta {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */